body {
    margin: 0;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    line-height: 1,42;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

img {
    max-width: 100%;
    max-height: 100%;
}
.container {
    width: 1200px;
    margin: 0 auto;
}

.header {
    background: #4b73b5;
    color: #fff;
    margin-bottom: 13px;
}


.header__container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
    
}

.main-contacts {
    text-align: right;
  }

.main-contacts__phone {
    font-size: 21px;
    font-weight: 700;
    color: inherit;
    text-decoration: none;

}
.main-contacts__text {
    font-size: 14px;
    font-weight: bold;
    opacity: .7;
    color: #fff

}

.contacts__days {
    color: #1c5bc3;
    font-family: Bold;
    font-weight: 700;
    font-size: 14px;
}

.contacts__worktimes {
    color: #000;
    font-size: 14px;
    font-family: Light;
    font-weight: 300;
    

}
.contacts__times-trigger {
    text-decoration: none;
    color: #c9c9c9;
}

.cotacts__times {
    position: relative;
    display: inline-block;

}

.contacts__times:hover .contacts__times-trigger {
    color: white;
    opacity: 1;
}

.contacts__times:hover .contacts__dropdown {
    right: 0;
    opacity: 1;
    margin-top: 5px;
}

.contacts__dropdown {
    position: absolute;
    background: #fff;
    border: 1px solid;
    padding: 10px;
    top: 100%;
    opacity: 0;
    transition: opacity .4s;
    right: -9999px;
    box-shadow: 0 0 10px rgba(23, 59, 117, 0.55);
    border-radius: 5px 0 5px 5px;
    
}

.contacts__dropdown:before {
    content: "";
    border: 11px solid transparent;
    border-top-width: 0px;
    border-bottom-color: #fff;
    border-top-color: #fff;
    top: -21%;
    height: 0;
    width: 0;
    position: absolute;
    right: 10%;
}



.page-content {
    width: 82%;
}

.sidebar {
    width: 15%;
    margin-top: 10px;
}
.maincontent__container {
    display: flex;
    justify-content: space-between;

}

.preview {
    position: relative;
}


.nav__icon,
.nav__title {
    display: inline-block;
  
   
}
.nav__icon {
	vertical-align: middle;
	padding-top: 40px;
	margin-right: 20px;
	
}


.nav__link {
    text-decoration: none;
}

.nav__link {
    font-size: 19px;
    text-decoration: none;
    vertical-align: middle;
    transition: color 0.4s ease;
    display: flex;
    align-items: center;
    margin-right: 20px;
   
}

.nav__link:before {
  content: '';
  background-position: center center;
  display: inline-block;
  vertical-align: middle;
  transition: background-image 0.4s ease;
}
.nav--horizontal {
    margin-bottom: 10px;
}
.nav--horizontal, .nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-right: 40%;
}

.nav--horizontal, .nav__item {
    margin-bottom: 0;
}



.nav__icon {
    width: 24px;
    height: 18px;
    background: center center no-repeat;
}
 .nav__icon--direction {
     background-image: url('./img/main_icon.png');
 }

 .nav__icon--feed {
     background-image: url('./img/feed_icon.png');
 }
.nav__icon--plain {
    background-image: url('./img/team_icon.png');
}

.nav__link:hover .nav__icon--direction {
    background-image: url('./img/main_icon1.png');
}

.nav__link:hover .nav__icon--feed {
    background-image: url('./img/feed_icon1.png');
}

.nav__link:hover .nav__icon--plain {
    background-image: url('./img/team_icon1.png');
}

.nav__item--active .nav__icon--direction {
    background-image: url('./img/main_icon1.png');
  }
  
  .nav__item--active .nav__icon--feed {
    background-image: url('./img/feed_icon1.png');
  }
  
  .nav__item--active .nav__icon--plain {
    background-image: url('./img/team_icon1.png');
  }

  .nav__link:hover .nav__title {
    color: #212121;
}



.nav__title {

color:  #4b73b5;
font-family: Roboto;
font-size: 12px;
font-weight: 700;
line-height: 54px;
text-transform: uppercase;
letter-spacing: 2.4px;
}

.nav__icon, .nav__title{
display: inline-block;
}

.title {
color: #221f1f;
font-family: Roboto;
font-size: 49px;
font-weight: 700;
line-height: 38px;
margin-bottom: 27px;
}

.benefit {
    text-align: center;
    border: 1px solid #e8e9ed;
}

.tariff__top {
  
color: #221f1f;
font-family: Roboto;
font-size: 18px;
font-weight: 700;
line-height: 21px;
text-transform: uppercase;
}


.benefits__item {
    display: inline-block;  
}

.benefits__price {
    display: inline-block;
    vertical-align: middle;
    padding-top: 40px
    
}

.benefits__item {
    width: 250px;
    height: 456px;
    border-radius: 5px;
    border-radius: 5px;
    border: 1px solid#fff
}



.benefits__item {
width: 250px;
height: 456px;
color: #221f1f;
font-family: Roboto;
font-size: 18px;
font-weight: 300;
line-height: 30px;
text-align: center;
padding: 20px;
}

.benefits__subtitle-standart,
.benefits__subtitle-premium,
 .benefits__subtitle-lux {
    color: #212121;
    font-family: Roboto;
    font-size: 11px;
    font-weight: 700;
    line-height: 51.38px;
    text-transform: uppercase;
    letter-spacing: 2.88px;
    margin-bottom: 28px;   
}


.benefits__features {
color: #212121;
font-family: Roboto;
font-size: 54px;
font-weight: 400;
display: inline-block;
}

.benefits__pics {
	background: #4b73b5;
	width: 70px;
    height: 70px;
	overflow: hidden;
    border-radius: 50%;
	text-align: center;
	display: inline-block;
    vertical-align: middle;
    position: relative;
}

.benefits__img {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.benefits__item:hover {
	border-radius: 5px;
    border: 1px solid #e8e9ed;
}

.benefits__list {
	list-style-type: disc;
	list-style-position: inside;
	text-align: left;
}

.benefits__desc-items li {
	list-style-type: disc;
	list-style-position: inside;
	text-align: left
}

.benefits__lux-items li {
	list-style-type: disc;
	list-style-position: inside;
	text-align: left
}

.news__horizontal {
display: flex;
flex-wrap: wrap;
align-items: baseline
}

.news__items {
    width: calc(100% / 3 - 35px);

}

.news {
    margin-bottom: 65px;
}
.news__items {
    align-items: center;
}
.news__pics {
    text-align: center;
}

.news__pics-avatar {
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 20px
}


.news__pics-avatar, .news__desc{
	display: inline-block;
}
.news__desc{
	width: 640px;
}



 .news__items {
    display: inline-block;
}
.news__items {
    
    padding-top: 20px
	
}

.news__items:last-child {
	margin-right: 0;
}

.news__date {
    color: #656464;
    font-family: Light;
    font-weight: 300;
}

.news__caption {
    font-family:  Bold;
    font-size: 18px;
    font-weight: 700
}

.news__desc-text {
    font-family: Light;
font-weight: 300;
}
.pagination {    
	width: 100%;    
    text-align: center;
    margin-bottom: 62px;
}

.pagination__pages-item {
	display: inline-block;
}
.pagination__display {    
	display: inline-block;    
    vertical-align: middle;
    margin-right: 20px;
}
.pagination__controlls {   
	display: inline-block;    
}

.paginations__pages {    
	display: inline-block;    
}

.pagination__link, 
.pagination__prev, 
.pagination__next {
	text-decoration: none
}
.pagination__link:hover {
	background: #4b73b5;
}
.pagination__link {
	padding: 5px;
	color: inherit;
	font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    
}

.pagination__display {
color: #656464;
font-family: Roboto;
font-size: 14px;
font-weight: 300;
line-height: 21px;
}

.pagination__prev, 
.pagination__next {
    color:#221f1f;
    vertical-align: middle;
}

.pagination__prev, 
.pagination__next:hover {
	opacity: .3
}

 .footer {
    background: #4b73b5;
    color: #fff;
    width: 100%;
	text-align: center
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.author {

color: #ffffff;
font-family: Roboto;
font-size: 14px;
font-weight: 300;
line-height: 18px;
vertical-align: middle;
text-align: center;
width: 250px;
margin-bottom: 13px;

}

.author,
.logo__footer {
	width: 50%;
	display: inline-block;
}

.logo__footer {
    text-align: right;
}

.author {
    text-align: left;
}

.author__text {
	text-align: left;
    vertical-align: middle;
    width: 260px;
    margin-bottom: 0;
}

.logo__footer-pic {
	text-align: right;
    vertical-align: middle;
}

.sosials__new {	
    text-align: center;
    vertical-align: middle;
    margin-bottom: 13px;

}
.sosials {
	text-align: center;
    vertical-align: middle;
    margin-bottom: 13px;
	
}

.sosials p {
	font-size: 14px;
    font-weight: 700;
    margin-bottom: 10px;
}

.sosials__link {
    display: block;    
    position: relative;   
    width: 20px;   
    height: 20px;    
    background-color: white;   
    transition: .3s;   
    border-radius: 50%;
}

.sosials__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.sosials__list-item {
	width: 20px;
    height: 20px;
	overflow: hidden;
    border-radius: 50%;
	text-align: center;
	display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    position: relative;
		
}

.maincontent {
	margin-bottom: 20px;
}

.news__items {
    display: flex;
    margin-right: 20px;
}

.partners__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    flex-direction: column;
    
    
}

.partners__list-pics {
    padding-bottom: 40px;
    text-align: -webkit-center;
   
    
}

.partners__list-img {
    filter: grayscale(100%);
    opacity: .5
}
.partners__list-img:hover {
    filter: none;
    opacity: 1;
}

.feeds__pics {
    max-width: 150px;
    max-height: 150px;
    overflow: hidden;
    border-radius: 50%;
}

.feeds__pics, .feeds__desc {
    display: inline-block;
}

.feeds__items {
    border-bottom: 1px solid #f5f5f5;
    padding-top: 20px;
    display: inline-block;
}

.feeds__items:last-child {
    border-bottom: none;
}
.feeds__desc {
	width: 70%;
    vertical-align: top
}
.feeds__pics {
    margin-right: 20px;
}

.feeds__list{
    display: flex;
    flex-flow: column;
    margin-bottom: 74px;
}

.breadcrumbs__item:after {
  content: "/";
  display: inline-block;
  vertical-align: middle;
}

.breadcrumbs__item:last-child:after {
  display: none;
}

.breadcrumbs__link {
  font-style: italic;
  font-size: 14px;
  opacity: .8;
  color: #4b73b5;
}

.breadcrumbs__block {
  width: 10px;
  height: 10px;
  background: black;
}

.breadcrumbs__item--active .breadcrumbs__link {
  color: #000;
  text-decoration: none;
}


.breadcrumbs__item--active .breadcrumbs__block {
  border-radius: 50%;
  background: #4b73b5;
}

.breadcrumbs {
  display: flex;
}

.team__list-img {
    width: 145px;
    height: 145px;
    overflow: hidden;
    border-radius: 50%;
    opacity: 0.6;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}


.team__list-avatar {
    background-color: #4b73b5; 
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
}

.team__list {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap; 
}

.team__list-item {
    width: 30%;
    text-align: -webkit-center;
    margin-bottom: 40px;
}  


.team__list-name {
    font-family: Roboto - Bold;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 0;

}

.team__list-subtitle {
color: #4b73b5;
font-family: Roboto - Bold;
font-weight: 700;
margin: 0

}

.team__list-desc {
font-family: Roboto - Light;
font-weight: 300;
margin-top: 10px
}

.avatar__name {
position:absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
color: #ffffff;
font-family: Roboto;
font-size: 24px;
font-weight: 700;
line-height: 21px;
}

.feeds__form {
    padding-bottom: 60px
}

.form {
    background: #f5f5f5;
    padding: 50px 10%;
    width: 65%;
  }
  
  .form__title {
    font-size: 49px;
    font-weight: bold;
    margin-bottom: 15px;
  }
  
  .form__row {
    margin-bottom: 15px;
    display: flex;
  }
  
  .form__block {
    margin-right: 43px;
    flex: 1;
  }
  
  .form__block:last-child {
    margin-right: 0;
  }
  
  .form-field {
    width: 100%;
    background: #fff;
    border: none;
    font-size: 14px;
    border-radius: 5px;
    padding: 10px;
  }
  
  .form-field::placeholder {
    color: #ccc;
  }
  
  .form__textarea {
    resize: vertical;
  }

  .pattern {
      background: url(./img/pattern.png) center center #4b73b5;
      display: flex;
      vertical-align: middle;
      justify-content: center;
  } 



.form__button {
width: 154px;
height: 45px;
background-color: #4b73b5;
}

.form__button {
    border: none;
    overflow: hidden;
    border-radius: 3%;
}


.form__button-text:after {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(./img/fly.png);
    background-repeat: no-repeat;
    margin-left: 10px;
    vertical-align: middle;  
}

.form__button:hover .form__button-text {
    color: #4b73b5;
} 

.form__button:hover {
    background: #fff;
}

.form__button:hover .form__button-text:after{
    background: url(./img/index__icon.png);
    background-repeat: no-repeat;
}

.form__button-text {
    color: #fff;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    vertical-align: middle;
}

.form__button-text{
    color: #fff;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 700;
    direction: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
  
}

.input {
    width: 40px;
   
}

.input__base {
    display: flex
}
.form__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.form__textarea {
    resize: vertical;
}

.feeds__date {
    color: #656464;
    font-family: Roboto - Light;
    font-size: 14px;
}

.feeds__caption {
font-family: Roboto - Bold;
font-weight: 700;
line-height: 21px;
}

.feeds__desc-text {
    font-family: Roboto - Light;
font-weight: 300;
line-height: 30px;
}

.application {
font-family: Roboto - Bold;
font-weight: 700;
text-decoration: underline;
color: #fff
}

.main__phone {
font-family: Roboto - Bold;
font-weight: 700;
text-decoration: none;
color: #fff;
}

.promo {
    margin-bottom: 60px;
}

label[class=radio__yes] {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-right: 40px;
}
label[class=radio__no] {
    cursor: pointer;
    display: flex;
    align-items: center;
}

input[type=radio] {
        display: none;
        
    }


.input__text{
    display: inline-block;
    margin-left: 5px;
    
}
.radio {
    margin-right: 40px;
}

.form__button {
    vertical-align: middle
}

.form__buttons, .form__block-title {
color: #221f1f;
font-family: Roboto;
font-size: 14px;
font-weight: 300;
}



.radio__check-yes {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #c9c9c9;
    position: relative;
    margin-right: 10px;
}

.input__yes:checked + .radio__check-yes::before {   
    content: "";   
    width: 4px; 
    height: 4px; 
    background-color: #4b73b5; 
    border-radius: 50%;
    border: 3px solid #4b73b5; 
    display: block;         
    position: absolute; 
    transform: translate(-50%, -50%); 
    top: 50%; 
    left: 50%;
}

.input__yes:checked + .radio__check-yes {
    border-color: #4b73b5;
}

.input__yes:checked ~ div.input__text-yes {
    color: #1c5bc3;
}



.radio__check-no {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #c9c9c9;
    position: relative;
    margin-right: 10px;
}


.information {
    vertical-align: middle;
    font-family: Light;
    font-weight: 300;
    color: #fff;
    line-height: 30px;
    text-align: center;
    font-size: 18px;
}



.input__no:checked + .radio__check-no::before {   
    content: "";   
    width: 4px; 
    height: 4px; 
    background-color: #4b73b5; 
    border-radius: 50%;
    border: 3px solid #4b73b5; 
    display: block;  
    position: absolute; 
    transform: translate(-50%, -50%); 
    top: 50%; 
    left: 50%;
}  

.input__no:checked + .radio__check-no {
    border-color: #4b73b5;
}


.input__no:checked ~ div.input__text-no {
    color: #1c5bc3;
}

.welcome {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(./img/welcome-pic.jpg) center center / cover no-repeat;
}

body, html {
    height: 100%;
} 

.welcome__center-block {
    display: flex;
    flex-direction: column;
    animation: fly 1s 1s infinite cubic-bezier(.46,1.29,1,.83);

}
.welcome__enter-btn {
    display: block;
    color: #1c5bc3;
    border:  1px solid currentColor;
    text-decoration: none;
    padding: 16px 20px;
    text-transform: uppercase;
    font-size: 12px;
    border-radius: 4%;
    font-family: Roboto;
    font-weight: 700;
    letter-spacing: 2.4px;
}

.welcome__logo {
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
}

.welcome__enter-btn:after {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(./img/index__icon.png);
    background-repeat: no-repeat;
    margin-left: 10px;
    vertical-align: middle;
}

.welcome__enter-btn:hover::after   {
    background: url(./img/fly.png); 
    background-repeat: no-repeat; 
}

.welcome__enter-btn:hover {
    background: #1c5bc3;
    color: #fff;
}





@keyframes fly {
0% {
    transform: translateY(0);
    opacity: 0;
}
30% {
    transform: translateY(-30px);
    opacity: 1;

}
40% {
    transform: translateY(0);

}

70% {
    transform: translateY(-15px);
  
}
80% {
    transform: translateY(0)
}

}

.partners__title {

color: #221f1f;
font-family: Roboto;
font-size: 18px;
font-weight: 700;
line-height: 38px;
text-transform: uppercase;
text-align: -webkit-center;
}
.partners {
    padding: 10px 30px;
}
